body {
	background-color: #0A0F2B;
	color: #fff;
	padding: 0;
	margin: 0;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.logo,
.hashtag,
.header {
	position: absolute;
}

.logo {
	left: 1rem;
	top: 1rem;
	width: 12vw;
	height: 7vw;
}

.hashtag {
	bottom: 5vw;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: bold;
	font-size: 3.5vw;
	margin: 0;
}

.hashtag a,
.hashtag span {
	position: absolute;
	color: #8bc7fc;
}

.hashtag a {
	left: 1em;
}

.hashtag span {
	right: 1em;
}

.header {
	right: 0;
	top: 0;
	width: 25vw;
	height: 7.7vw;
}

.reveal .controls button {
	display: none;
}

.reveal .progress {
	color: #8bc7fc;
}

.reveal .shoutout-img {
	max-width: 600px;
}
