html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Maven Pro', sans-serif;
}

.reveal {
	a {
		color: #fff;
	}

	h1 {
		font-size: 3.5rem;
		font-weight: 900;
		margin-bottom: 2.5rem;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: normal;
		margin-bottom: 2.5rem;
	}

	.heading1 {
		font-size: 5rem;
	}

	ul.body {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
		width: auto;
		max-width: none;

		li {
			display: block;
			text-align: center;
		}
	}

	p,
	ul {
		display: block;
		margin: 0 auto;
		max-width: 70%;
		font-size: 2rem;
	}

	ul {
		max-width: 70%;
	}

	li {
		text-align: left;
	}

	li + li {
		margin-top: 1rem;
	}

	strong {
		font-weight: 900;
		margin-right: 1rem;
	}

	::selection,
	mark {
		background: #000;
		color: #fff;
		padding: 0 0.5rem;
	}
}
