.reveal {
	.sponsor-wrapper {
		& + .sponsor-wrapper {
			margin-top: 4rem;
		}

		&:first-child .sponsor {
			width: 200px;
		}
	}

	.sponsor {
		display: inline-block;
		max-width: 100%;
		width: 150px;
	}

	.poster {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		max-width: 90%;
		min-width: 50%;
	}
}
